section {
    margin: 5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.cuet-shad {
    text-shadow: 5px 5px 10px blue;
}

h3 {
    font-size: 15px;
}

.cuet-name {
    color: blue;
}

p {
    text-align: justify;
}

.cuet {
    display: flex;
    background-image: url(./images/bg\ 1.webp);
    margin: 10 px;
    border-radius: 15px;
}

.CUET-gate {
    width: 50%;
    padding: 2%;
}

.CUET-gate img {
    width: 90%;
    height: 70%;
    margin-top: 15%;
    margin-left: 5%;
}

.cuet-website {
    text-decoration: none;
    padding: 1%;
    background-image: linear-gradient(darkblue, cyan);
    color: white;
    font-weight: 550;
    border-radius: 8px;
}

.kuet-shad {
    text-shadow: 5px 5px 10px green;
}

.kuet-name {
    color: green;
}

.kuet {
    display: flex;
    background-image: url(./images/bg\ 2.webp);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: right;
    margin: 10 px;
    border-radius: 15px;
}

.KUET-gate {
    width: 50%;
    padding: 2%;
}

.KUET-gate img {
    width: 90%;
    height: 80%;
    margin-top: 12%;
    margin-left: 5%;
}

.kuet-website {
    text-decoration: none;
    padding: 1%;
    background-image: linear-gradient(green, lightgreen);
    color: white;
    font-weight: 550;
    border-radius: 8px;
}

h4 {
    font-size: 20px;
}

.incube {
    height: 173px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.it-park {
    display: flex;
}

.kuet-it {
    width: 50%;
    margin-left: 10%;
    box-shadow: 10px 10px 30px green;
    border-radius: 10px;
    padding: 3%;
    border-left: 10px solid;
    border-image: linear-gradient(green, lightgreen);
    border-image-slice: 1;
}

.cuet-it {
    width: 50%;
    box-shadow: 10px 10px 30px cyan;
    border-radius: 10px;
    padding: 3%;
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.year {
    color: blueviolet;
    text-align: center;
}

.headstyleC {
    text-decoration: none;
    padding: 2%;
    background-image: linear-gradient(darkblue, cyan);
    color: white;
    font-weight: 550;
    border-radius: 8px;
}

.headstylek {
    text-decoration: none;
    padding: 2%;
    background-image: linear-gradient(green, rgb(162, 233, 162));
    color: white;
    font-weight: 550;
    border-radius: 8px;
}