body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.cuet-shad {
    text-shadow: 5px 5px 10px blue;
}

h3 {
    font-size: 20px;
}

.cuet-name {
    color: blue;
}

p {
    text-align: justify;
}

.cuet {
    display: flex;
    background-image: url(./images/bg\ 1.webp);
    margin: 10 px;
}

.CUET-gate {
    width: 50%;
    padding: 4%;
}

.CUET-gate img {
    width: 80%;
    height: 80%;
    margin-top: 15%;
}

.cuet-website {
    text-decoration: none;
    padding: 1%;
    background-image: linear-gradient(darkblue, cyan);
    color: white;
    font-weight: 550;
    border-radius: 8px;
}